<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300,300italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi;" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Frame : FreeLance | Map</title>
  <link rel='stylesheet' id='fmr_bootstrap-css'  href='css/bootstrap.min.css' type='text/css' media='all' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' id='fmr_bootstrap-tokenfield-css'  href='css/bootstrap-tokenfield.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='fmr_lada_css-css'  href='css/ladda.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='fmr_owl_css-css'  href='css/owl.carousel.css' type='text/css' media='all' />
  <link rel='stylesheet' id='fmr_owl_theme-css'  href='css/owl.theme.css' type='text/css' media='all' />
  <link rel='stylesheet' id='fmr_fonts_icon-css'  href='css/style.css' type='text/css' media='all' />


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="preview">
	<h1 class="preview-h1 text-center">Terms and Conditions</h1>
  <div class="container">
    <div>
<br>	
Since you decided for some inexplicable reason to click on our Terms and Conditions link we will take special care to keep our Terms and Conditions as short and as easy to understand as possible.
<br>
The Terms and Conditions (T’s and C’s) contained herein apply to your access and use of <i>http://hooros.co.za</i> <b>(Hooros)</b> for whatever purposes. The T’s and C’s apply to the use of all software, reports, text, video, images and generally any content made available on any part of Hooros, by us (the hard-working servants of Hooros) or any other party (alien or otherwise).
<br>
<h2>Acceptance</h2> 
Hooros permits you, the user, to access and use Hooros subject to our T’s and C’s. We know that you will actually read our T’s and C’s in great detail and not just pretend to have read them. By accessing the Hooros site you acknowledge that you read, understood, and agree to be bound by the T’s and C’s. You also automatically acknowledge that you secretly enjoy reading Terms and Conditions of every site you visit. If you are using the Hooros site on behalf of any juristic person you acknowledge that you entering into these T’s and C’s with the legal authority to be contractually bound by any and all terms contained herein. 
<br>
<h2>Updates</h2>
Hooros reserves the absolute and irrevocable right to change or modify any parts of these T’s and C’s at anytime. Please note however that you have not sold your soul. Hooros will indicate the last date upon which any terms were last revised on the top of this page. It is your responsibility to check the T’s and C’s periodically for changes. To ensure that we have not claimed ownership of your property.
<br>
Your continued use of the Site and Content after the date any such changes become effective constitutes your acceptance of the new or revised T’s and C’s
<br>
<h2>Ownership</h2>
All rights, title and interest in and to the Hooros site will remain with and belong exclusively to Hooros. You will not (a) sublicense, resell, rent, lease, transfer, assign, time share or otherwise commercially exploit or make the Site and any Content available to any third party, (b) use the Hooros site in any unlawful manner or in any manner that interferes with or disrupts the integrity or performance of Hooros or the Hooros site or any related components. 
<br>
<h2>Restrictions</h2>
No-one, not even mothers, likes imitators or plagiarizers. You are not permitted to copy, modify, frame, repost, publicly perform or display, sell, reproduce, distribute, or create derivative works of Hooros and/or the Hooros site. You may however, download, display, and print one copy of the publicly available materials on any single computer solely for your personal, non-commercial use, provided that you do not modify the material in any way and you keep intact all copyright, trademark, and other proprietary notices. 
<br>
Hooros is for humans, we actively discriminate against non-humans, you may not use any “spider,” “robot” or other automatic program, or any similar manual process, to access, copy, acquire, or monitor any portion of Hooros or the Hooros site without prior written consent from Hooros. You may not manipulate identifiers in order to disguise the origin of any message or transmittal you send to Hooros or any of  the freelancers registered on Hooros.
<br>
Be proud of who you are, you may not impersonate, pretend to be or falsely represent another individual.
<br>
<h2>Your Data</h2>
You are solely responsible for all data, information and other content, that you upload, post, or otherwise provide or store in connection with or relating to the Hooros site. In short, do not post anything that can be used against you adversely in a court of law.
<br> 
By posting your information and other content on or through the Hooros site you grant Hooros a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, modify, reproduce, distribute, display, publish and perform posted content in connection with Hooros and the Hooros site. Hooros has the right, but not the obligation, to monitor the Hooros site and may remove or disable any user content at any time for any reason, or for no reason at all.
<br>
<h2>Transmission</h2>
We will continue our operations with the assumption that you fully understand and appreciate that the operation of the Hooros site including content uploaded on, or downloaded from the Hooros site may be unencrypted and involve transmission to any of Hooros’ third party vendors and hosting partners to operate and maintain the Hooros site and the content contained herein. Accordingly, you acknowledge that you bear sole responsibility for adequate security, protection and backup of any content derived from the Hooros site. Hooros will have no liability to you for any unauthorized access or use of any of the content you may upload to the Hooros site, or any corruption, deletion, destruction or loss of any such content. Basically, please do not sue us for anything.
<br>
<h2>Feedback</h2>
You may submit ideas, suggestions, or comments regarding the Hooros site and or Hooros services. Although we love you and love to hear from you, we probably will not upload any ideas, suggestions or comments that are offensive or derogatory.
<br>
<h2>Representations and Warranties</h2>
You represent and warrant to Hooros that you are a mortal homo-sapien and that your activity on the Hooros site does not and will not violate, infringe, or misappropriate any third party’s copyright, trademark, right of privacy or publicity, or other personal or proprietary right, nor does you user Content contain any matter that is defamatory, obscene, unlawful, threatening, abusive, tortious, offensive or harassing. 
<br>
Hooros may, in its sole discretion and without prior notice, terminate your access to the Hooros site and/or block your future access to the Hooros site if we determine that you have violated any of these T’s and C’s or any other binding agreemnts or guidelines which are associated with Hooros or the services offered by Hooros
<br>
<h2>Limitation of Liability</h2>
Hooros will not be liable to you for any incidental, consequential, indirect, special, punitive or exmplary damages arising out of or relating to these T’s and C’s, including without limitation, your use or inability to use the Hooros site, or Hooros services.
    </div>
  </div>
  		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h1 class="footer-logo">
						<img src="assets/boxify/img/hooros2.png" alt="">
						</h1>
					</div>
					<div class="col-md-7">
						<ul class="footer-nav">
							<li><a href="#about">About</a></li>
							<li><a href="#clients">Clients</a></li>
							<li><a href="#experts">Experts</a></li>
							<li><a href="mailto:emmanuel@hooros.co.za" title="Drop us an Email">Contact Us</a></li>
						</ul>
						<br>
						<br>
						<br>
						<br>
					</div>
					<div class="wrap">
						© Hooros 2016 <strong>Invented with pride in</strong><img class="flag-logo" src="assets/boxify/img/Zimbabwe.png"/> Developed in <img class="flag-logo" src="assets/boxify/img/south_africa.png"/> Hooros (PTY) LTD  <a href="">Terms of Use applicable</a></p>
					</div>
				</div>
			</div>
		</footer>
<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script>
jQuery(document).ready(function($) {
   $('.bbbb').mouseenter(function(){
      $(this).find('img').addClass('move-down');
   });
   $('.bbbb').mouseleave(function(){
      $(this).find('img').removeClass('move-down');
   });
  });
</script>
</body>
</html>